<div class="container-fluid col-md-12 container-ma deviantart-version">
  <div *ngIf="found==true">
    <div class="row-grid">
      <div class="pfp-container">
        <img [src]="_imageURL" class="profile-picture">
      </div>
      <div class="user-container">
        <span class="user">{{username}}</span>
      </div>
      <div class="follow-container">
        <button type="button" class="button button-follow no-follow" *ngIf="this.username != this.identity.nick"
          (click)="follow(token, username)"></button><!-- {{followStatus}} -->
        <button type="button" [routerLink]="['/edit']" class="button button-edit edit"
          *ngIf="this.username == this.identity.nick">{{this.currentLang.attributes.edit}}</button>
      </div>
      <div class="followers">{{followers}}<span>{{this.currentLang.attributes.followers}}</span></div>
      <div class="following">{{following}}<span>{{this.currentLang.attributes.following}}</span></div>
      <div class="description-container">
        <div class="description">
          <span *ngIf="this.description != null else nodesc" [innerHTML]="this.description"></span>
          <ng-template #nodesc>
            <span>{{this.currentLang.attributes.noDescription}}</span>
          </ng-template>
        </div>
      </div>
    </div>
    <hr class="index-title mt-5">
    <div class="row profile-navbar no-select mt-4">
      <div class="mr-5">
        <span class="chosen" (click)="pickElement($event,1)">{{this.currentLang.attributes.gallery}}</span>
      </div>
      <div class="mr-5">
        <span (click)="pickElement($event,2)">{{this.currentLang.attributes.likes}}</span>
      </div>
      <div class="" *ngIf="this.username == this.identity.nick">
        <span (click)="pickElement($event,3)">{{this.currentLang.attributes.favs}}</span>
      </div>
    </div>
    <div class="container-fluid col-md-12 profile-navbar-content mt-5">
      <div class="row">
        <div class="col-md-12 images-container">
          <images-component *ngIf="this.element == 1"></images-component>
          <likes-component *ngIf="this.element == 2"></likes-component>
          <favs-component *ngIf="this.element == 3"></favs-component>
        </div> <!-- Here we load the components of the images, Likes and Favs depending on which is selected -->
      </div>
    </div>
  </div>
  <div class="container-fluid error" *ngIf="found==false">
    <img src="assets/img/404.png">
    <h2>{{this.currentLang.attributes.wrongUserTitle}}</h2>
    <p>{{this.currentLang.attributes.wrongUserBody}}</p>
    <a [routerLink]="['/home']">&nbsp;{{this.currentLang.attributes.goBack}}&nbsp;</a>
  </div>
</div>