/*
.container-ma{ 
    margin-top: 40px; 
    margin-bottom: 40px; 
    border-radius: 5px; 
    padding-top: 30px;
    padding-bottom: 40px;
    width: 95%;
    min-height: 10vh;
}
*/

.container-ma{
    padding: 30px 40px 100px 40px;
}

.row div:nth-child(1){ padding-left: 40px; }

.row div:nth-child(4){ padding-right: 40px; }

/* .box #image-box{ background: rgba(0, 0, 0, 0.123); height: 300px; } */

.box{ padding: 10px 10px 10px 10px; justify-self: center; align-self: center;}

.box #image-box{ width: 300px; height: 250px; display: grid; }

.pagination{ margin-right: 30px; margin-bottom: 30px; }

.active{ background: rgb(29, 146, 255); color: white; cursor: none; pointer-events: none; }

.error{
    width: 80%;
}

[data-container="night-container"] .index-title{
    color: rgb(241 241 241);
}