<div class="container-fluid col-md-12 container-ma deviantart-version">
    <h1 class="index-title no-select">&nbsp;&nbsp;{{this.currentLang.attributes.title}}</h1>
    <hr>
    <!-- <div class="espaciado"></div> -->
    <div class="container-images">
        <div class="box grid-col-{{i+1}} pb-5" *ngFor="let image of images; let i = index">
            <div id="image-box">
                <div #imageParent class="image-parent" id="hover-parent">
                    <a [routerLink]="['/images', image[0].id]" class="image-wrapper">
                        <div class="gradient-mask"></div>
                        <img src="assets/public/{{image[0].url}}" class="image-element" id="id-{{image[0].id}}"
                            (mouseleave)="_imageService.out($event, this, null);">
                    </a>
                    <span class="image-description">
                        <span class="image-name">{{image[0].name}}</span>
                        <br>
                        <span class="image-by">
                            {{this.currentLang.attributes.by}} <span class="image-user">{{image.username}}</span>
                        </span>
                    </span>
                    <div class="image-action" *ngIf="identity && identity.nick != 'guest'">
                        <img class="image-frame like" src="assets/img/image-like-border.png" (mouseover)="_imageService.in($event, this, null);"
                            (mouseleave)="_imageService.out($event, this, null);">
                        <div class="image-heart" (mouseover)="_imageService.in($event, this, 1);" (mouseleave)="_imageService.out($event, this, 1);"
                            (click)="_imageService.saveInteraction($event, this, 'like');"><i class="fas fa-heart"></i>
                        </div>
                        <img class="image-frame fav" src="assets/img/image-fav-border.png" (mouseover)="_imageService.in($event, this, null);"
                            (mouseleave)="_imageService.out($event, this, null);">
                        <div class="image-star" (mouseover)="_imageService.in($event, this, 2);" (mouseleave)="_imageService.out($event, this, 2);"
                            (click)="_imageService.saveInteraction($event, this, 'fav');"><i class="fas fa-star"></i>
                        </div>
                        <img class="image-frame share" src="assets/img/image-share-border.png" (mouseover)="_imageService.in($event, this, null);"
                            (mouseleave)="_imageService.out($event, this, null);">
                        <div class="image-arrows" (mouseover)="_imageService.in($event,this, 3);" (mouseleave)="_imageService.out($event, this, 3);"
                            (click)="_imageService.saveInteraction($event, this, 'share');"><i class="fas fa-retweet"></i></div>
                    </div>
                </div>
                <!-- <img src="../api-rest-symfony/public/storage/images/image-example.jpg" class="image-element"> -->
            </div>
        </div>
    </div>
</div>

<!-- <a href="index_2.html">Next</a> -->

<nav aria-label="Page navigation example">
    <ul class="pagination float-right">
        <li *ngIf="page != 1 && total_pages > 1">
            <a class="page-link" [routerLink]="['/home', prev_page]">{{this.currentLang.attributes.previous}}</a>
        </li>
        <li *ngFor="let num of number_pages; let i = index">
            <a class="page-link" *ngIf="i<5" [routerLink]="['/home', num]"
                [ngClass]="{'active': num == page}">{{num}}</a>
            <!-- Change so if e.g you are at page pág 20, it shows 18 - 19 - 20 - 21 - 22 -->
        </li>
        <li *ngIf="page != total_pages && total_pages > 1">
            <!--  && total_pages > 1 -->
            <a class="page-link" [routerLink]="['/home', next_page]">{{this.currentLang.attributes.next}}</a>
        </li>
    </ul>
</nav>

<!-- div class="container-images">
    <div class="row" *ngFor="let item of [].constructor(4); let i = index">
      <div class="col-md-3 box" *ngFor="let item of [].constructor(4); let j = index">
        <div id="image-box"></div>
      </div>
    </div>
  </div -->