/*
.container-ma{ 
    margin-top: 40px; 
    margin-bottom: 40px; 
    border-radius: 5px; 
    padding-top: 30px;
    padding-bottom: 40px;
    width: 80%;
    min-height: 10vh;
}
*/

.info-block{
    padding: 30px 0 !important;
    background: #ffffff;
}


.more-by-user-container{
    background: #0000001f;
}


.grid-actions{
    display: grid;
    grid-template-columns: auto auto auto 1fr; 
    /* grid-template-columns: 130px 290px 130px 1fr; */
    /* grid-column-gap: 52px; */
}

.interactions-container{
    padding: 30px 0;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}

.like-container, .fav-container, .share-container{
    display: inline-block;
    cursor: pointer;
}

.like-container[data-status='1'], .like-container:hover{
    color: #c70000;
}

.fav-container[data-status='1'], .fav-container:hover{
    color: #cbcb00;
}

.share-container[data-status='1'], .share-container:hover{
    color: #12baaa;
}

.edit-button, .fa-ellipsis-h{
    cursor: pointer;
}

.edit-button:hover, .fa-ellipsis-h:hover, .grid-actions-right [aria-expanded="true"] .fa-ellipsis-h{
    color: turquoise;
}

.dropdown-item i{
    margin-right: 10px;
}

.grid-actions-right{
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
    grid-column-gap: 20px;
    padding-right: 30px;
}

.counter .fas,
.counter .far{
    cursor: default;
}

.grid-user-info{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-column-gap: 16px;
    /* align-items: center; */
    font-family: sans-serif;
    padding-bottom: 2rem !important;
}

.author-img{
    grid-row: 1;
    grid-column: 1;
}

.author-img img{
    width: 60px;
}

.grid-user-description{
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
}

.title{
    grid-row: 1;
    /* align-self:  */
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

.author{
    align-self: end;
    font-size: 14px;
}

.author span,
.more-by-user-link{
    color: rgb(193, 121, 0);
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s;
}

.author span:hover,
.more-by-user-link:hover {
    color: rgb(255 160 0)
}

.actions-container{
    position:absolute;
    top: 16px; 
    right: 16px;
}

.actions-container span{
    margin-left: 10px;
}

/*
.edit, .delete, .ban, .unban{
    position: relative;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s;
}

.delete{
    color: rgba(110, 0, 0, 0.72);
}

.ban{
    color: rgba(110, 66, 0, 0.72)
}

.edit{
    color: rgba(180, 122, 15, 0.68);
}

.unban{ 
    color: rgb(4, 196, 106);
}

.edit:hover, .delete:hover, .ban:hover, .unban:hover{
    transform: scale(1.1);
}
*/

.image{
    /* max-width: 640px; */
    cursor: zoom-in;
    max-width: 89%;
    max-height: 1000px;
}

.image-container{
    position: relative;
    background: linear-gradient(45deg, #ffffff, #f0f0f0);
    align-self: center;
    padding: 60px 45px 45px 45px;
    /* width: calc(100% - 90px); */ /* Only necessary if it's margin*/
}

.nocursor{
    cursor: default;
}

.image-actions{
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
}

.image-arrows-black{ position: static;}
.image-star-black{ position: static;}
.image-heart-black{ position: static;  }

.image-arrows, .image-star, .image-heart{ z-index: 200; transform: scale(1.5); position: static; display: inline-block; width: 24px; margin-right: 20px; }

.rights{
    /* font-size: 14px; */
}

.rights .highlighed{
    margin-left: 5px;
    padding: 5px 10px;
    background:rgba(184, 197, 0, 0.164);
    border-radius: 5px;
}

.tags-container > span,
.description-container > span,
.rights-container > span,
.created-at-container > span {
    color: grey;
}

.tags-container > span,
.description-container > span,
.rights-container > span,
.created-at-container > span,
.comments-container{
    font-size: 16px;
}

.tags{
    font-size: 12px;
    padding: 10px 20px;
    margin-right: 10px; 
    background: rgb(133, 133, 133);
    color: white;
    border-radius: 0px;
    display:inline-block;
    margin-bottom: 5px;
    /* user-select: none; */
    cursor: pointer;
    transition: all 0.3s;
}

.tags:hover{
    background: rgb(92, 92, 92);
}

.comments-container{
    /* color: white; */
    font-weight: bold;
}

.lower-textarea{
    background: #eceaea !important;
}

.add-comment-container{
    display: grid;
    grid-template-columns: 115px 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
}

.add-comment-container img {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    width: 95px;
    height: 95px;
}

.add-comment-container textarea {
    grid-row: 1;
    grid-column: 2;
}

.add-comment-container .lower-textarea{
    grid-row: 2;
    grid-column: 2;

    position: relative;
    top: -6px;
    text-align: right;
}

.add-comment{
    padding: 6px 20px;
    color: #454545;
    background: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 14px;
    border: none;
    letter-spacing: 2px;
    border: none;
    border-radius: 1px;
}

.add-comment:disabled{
    color: #acacac !important;
}

.comment,
.subcomment{
    width: 100%;
}

.comment{
    padding-bottom: 30px;
}

.w-95{
    width: 95%;
}

.comment-container,
.subcomment-container{
    display: grid;
    grid-template-columns: 115px 1fr;
    grid-column-gap: 20px;
    align-items: center;
}

.comment-container{
    width: 100%;
}

.subcomment-alignment{
    display: grid;
    justify-items: right;
}

.subcomment-container{
    width: 100%;
}

.comment-image,
.subcomment-image{
    width: 80px;
    cursor: pointer;
}

.comment-image-container,
.subcomment-image-container{
    /* overflow: hidden; */
    justify-self: end;
    align-self: baseline;
    padding-top: 5px;
}

.comment-id,
.subcomment-id{
    background: #eceaea;
    padding: 20px;
}

.comment-name,
.subcomment-name{
    position: relative;
    cursor: pointer;
    top: -7px;
    font-size: 14px;
    /* font-weight: bold; */
    transition: all 0.3s;
}

.comment-name:hover, .subcomment-name:hover {
    color: #0989e3;
}

.comment-date,
.subcomment-date{
    position: relative;
    color: grey;
    top: -7px;
    right: 0px;
}

.comment-text,
.subcomment-text{
    /* min-height: 64px; */
    /* background: #fffffc; */
    /* padding: 7px 12px; */
    /* border: 1px solid #adb80191; */
    /* border-radius: 5px; */
}

.comment-text.removed,
.subcomment-text.removed{
    color: grey;
}

.comment-actions,
.subcomment-actions{
    grid-row: 2;
    grid-column: 2;
    padding-top: 5px;
}

.reply-comment{
    color: grey;
    cursor: pointer;
    margin-right: 10px;
}

.delete-comment{
    color: rgb(175, 10, 10);
    cursor: pointer;
}

.reply-comment, .delete-comment{
    font-size: 12px;
}

textarea{
    padding: 10px;
    width: 100%;
    height: 100px;
    resize: none;
    border: none;
    background: #fcfcfc;
}

.blur{
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
}

.view{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    font-size: 36px;
    cursor: pointer;
}

.nsfw-epilepsy-alert{
    color: darkred;
    font-size: 12px;
}

.more-by-user{
    display: inline-block;
    padding: 20px 0;
    font-size: 16px;
}

.more-by-container{
    background: linear-gradient(65deg, #ffffff, #f0f0f0);
    position: relative;
    padding: 0px 30px;
}

.more-by-images-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 40px;
}

/* https://css-tricks.com/aspect-ratios-grid-items/ */
.more-by-images-container > [style^='--aspect-ratio']::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}

.more-by-images-container > * {
    width: 100%;
    position: relative;
  }

.more-by-image{
    overflow: hidden;
}

.more-by-image-element{
    /* max-width: 100%; */
    position: absolute;
    cursor: pointer;
}

.aspect-width{
    max-height: 100%;
}

.aspect-height{
    max-width: 100%;
}

[data-container="night-container"] .lower-textarea{
    background: #222124 !important;
}

.container-ma[data-container="light-container"]{
    /* background: #ffffffb0; */
}

.container-ma[data-container="night-container"]{
    /* background: #ffffffb0; */
}

[data-container="night-container"] .info-block{
    background: #00000052;
}

[data-container="night-container"] .more-by-user-container{
    background: #ffffff0d;
}

[data-container="night-container"] .tags{
    /* background: rgb(182, 2, 159); */
    background: rgb(51, 51, 51);
}

[data-container="night-container"] .tags:hover{
    /* Same as day-container --> Otherwise it won't apply, since nonhover night-container is more specific than normal hover */
    background: rgb(92, 92, 92); 
    /* background: rgb(246, 73, 223); */
}

[data-container="night-container"] .add-comment{
    color: #c9c9c9;
    /* background: #5a51513b; */
}

[data-container="night-container"] .comment-id,
[data-container="night-container"] .subcomment-id{
    background: #222124;
    padding: 20px;
}

[data-container="night-container"] .comment-text,
[data-container="night-container"] .subcomment-text{
    /* background: #4d4d4d2e; */
}

[data-container="night-container"] .image-container{
    background: linear-gradient(45deg, #121212, #1b1e20);
}

[data-container="night-container"] .image{
    box-shadow: 0px 0px 17px 1px #151515;
}

[data-container="night-container"] .more-by-container{
    /* background: linear-gradient(45deg, black, #878787); */
    /* background: #0000006e; */
    /* background: linear-gradient(333deg, black, #17312c); */
    background: linear-gradient(333deg, black, #0a1e23);
}

[data-container="night-container"] .more-by-theme{
    width: 100%;
    height: 100%;
    /* position: fixed;    */
}

[data-container="night-container"] .nsfw-epilepsy-alert{
    color: #ff5d5d;
}

[data-container="night-container"] .add-comment:disabled{
    color: #767676 !important
}

@media screen and (max-width: 1150px){
    .info-block{
        padding: 30px 30px !important;
    }

    .interactions-container > div:not(.grid-actions-right) i + span{
        display: none;
    }

    .grid-actions-right{
        padding-right: 0;
    }

    .interactions-container i:not(.fa-ellipsis-h){
        font-size: 25px;
        margin-right: 25px;
    }
}