/* input:not([type=submit]){ height: 48px; } */

.invalid-feedback.d-block {
    font-family: 'Encode Sans Semi Condensed';
    font-weight: bold;
    color: #df0000;
    /* position: absolute; */
}

img{
    width: 60px;
    margin-right: 15px;
}

.form-ma{
    padding-left: 30px;
    padding-right: 30px; 
}

hr{ display: block; margin-bottom: 40px; width: 90%; }

input[type=submit]{
    letter-spacing: 0.5px;
    font-family: 'Oxygen', sans-serif;
}

.btn{
    padding: 4px 9px !important;
    letter-spacing: 1.5px;
    background: rgb(104, 145, 162);
    border: none;
    border-radius: 1px;
}

.btn-red-ma{
    background-color: #c9302c;
}

.profile-img-card{
    width: 96px;
    height: 96px;
    margin: 0 auto 3rem;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 0px;
    align-items: center;
    justify-items: end;
}

input {
    border-radius: 0px;
    outline: none;
    background: none;

    font-size: 14px !important;
    padding: 0px 6px !important;

    transition: all 0.3s;
}

input:focus, input:hover {
    border-color: black;
}

input:focus {
    /* border-bottom: 1px solid #8ebbff; */
    box-shadow: none;    
    outline: none;
    background: none;
}

input.ng-invalid.ng-dirty {
    border: 1px solid #f300008c;
    color: darkred;
}

input.ng-invalid.ng-dirty:focus {
    box-shadow: 0 0 1px 0.5px #f300008c;
}

input.ng-invalid.ng-dirty::placeholder {
    color: rgba(139, 0, 0, 0.64);
}

.input-actions-container {
    position: relative;
    left: -4px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.input-status, .show-hide {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
}

.input-status {
    transform: scale(0);
    transform-origin: 8px center;
}

input + .input-actions-container .show-hide {
    padding: 4px;
    font-size: 12px;
    color: #828282;
    cursor: pointer;
    transition: all 0.3s;
}

input + .input-actions-container .show-hide:hover::before {
    color: black;
}

input + .input-actions-container .show-hide.show::before {
    content: "\f06e";
}

input + .input-actions-container .show-hide.hide::before {
    content: "\f070";
}

input.ng-invalid.ng-dirty + .input-actions-container .input-status-error {
    transition: all 0.3s;
    transform: scale(1);
}

input.ng-valid.ng-dirty + .input-actions-container .input-status-success {
    transition: all 0.3s;
    transform: scale(1);
}

input.ng-invalid.ng-dirty + .input-actions-container .input-status-error::before {
    content: "\f057";
    color: #ed0000;
}

input.ng-valid.ng-dirty + .input-actions-container .input-status-success::before {
    content: "\f058";
    color: #00b80c;
}

input.ng-valid.ng-dirty:focus {
    /* border: 1px solid #008000; */
    /* box-shadow: 0 0 1px 0.2px green; */
}

span.line-hover {
    display: block;
    width: 100%;
    /* margin-bottom: 30px; */
    height: 2px;
    position: relative;
    top: -1px;
    /* position: absolute; */
}

input:focus:not(.ng-invalid) + span.line-hover{
    background: #005a95f5;
    background: none;
    animation: underline .3s linear;
    /* height: 47px; */
    /* top: 0px; */
}

.form-group {
    margin-bottom: 1rem !important;
}

.form-control:focus {
    border-color: unset!important;
}

@keyframes underline {  
    from { width: 0px; }
    to   { width: 100%; }
}
